target
*\target\*
*\target\**

.classpath
.project
.settings/

/plugins-documentcustody/filesystem/testRepos
/plugins-api/personal
/plugins-api/ACUSUARIOS
/plugins-api/AdministracionPublica
/plugins-api/personajuridica
/plugins-scanweb/compil.bat
/plugins-scanweb/compil2.bat
/plugins-api/passwords.txt
/plugins-api/results.txt
/plugins-api/test.log
/plugins-api/test.properties
/plugins-certificate/afirma/passwords.txt
/plugins-certificate/afirmacxf/test.log
/plugins-scanweb/caib-scanweb-plugin/testapi.properties
/plugins-validatesignature/afirmacxf/autofirma.pdf
/plugins-validatesignature/afirmacxf/config/plugin.properties
/plugins-validatesignature/afirmacxf/duesfirmes.pdf
/plugins-validatesignature/afirmacxf/esborrar.txt
/plugins-validatesignature/afirmacxf/hola_firmat.pdf
/plugins-validatesignature/afirmacxf/miniapplet_empleat_public.pdf
/plugins-validatesignature/afirmacxf/miniapplet_epes_segelltemps_afirma.pdf
/plugins-validatesignature/afirmacxf/miniapplet_epes_segelltemps_catcert.pdf
/plugins-validatesignature/afirmacxf/pades_ltv.pdf
/plugins-validatesignature/afirmacxf/peticioOK.pdf
/plugins-validatesignature/afirmacxf/setpath.bat
/plugins-certificate/afirma/src/test/java/org/fundaciobit/plugins/checkcertificate/NoCommitar.java
/plugins-certificate/afirma/src/test/java/org/fundaciobit/plugins/checkcertificate/configDGIDT.txt
/plugins-certificate/afirmacxf/src/test/java/org/fundaciobit/plugins/certificate/afirmacxf/test/NoCommitar.java
/plugins-documentcustody/filesystem/testReposWithFolder
/plugins-documentcustody/filesystem/testAutomaticMetadatas
/plugins-validatesignature/afirmacxf/run.bat
/plugins-documentcustody/arxiudigitalcaib/alfresco_path.txt
/plugins-documentcustody/arxiudigitalcaib/compil.bat
/plugins-documentcustody/arxiudigitalcaib/connection.txt
/plugins-documentcustody/arxiudigitalcaib/expedient.txt
/plugins-documentcustody/arxiudigitalcaib/plugin.properties
/plugins-userinformation/ldap/connection.properties
/plugins-validatesignature/integra/run.bat
