
certificates=1,2,3,4,5,6,7

cert.1=./ACUSUARIOS/AC-Usuarios-Subordinada.crt|mypassword|crt
cert.2=./ACUSUARIOS/AC_RAIZ_FNMT-RCM_SHA256.cer|mypassword|cer
cert.3=./ACUSUARIOS/certificadoActivoACUsuarios-Pruebas.p12|mypassword|pkcs12
cert.4=./ACUSUARIOS/certificadoRevocadoACUsuarios-Pruebas.crt|mypassword|crt
cert.5=./ACUSUARIOS/certificadoRevocadoACUsuarios-Pruebas.p12|mypassword|pkcs12
cert.6=./AdministraciónPública/APFuncionario_activoHW.pfx|mypassword|pkcs12
cert.7=./AdministraciónPública/APFuncionario_activoSW.pfx|mypassword|pkcs12